<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Fortenox</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href=
  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="script.js"></script>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <h2><%= age%></h2>
  <img class="cornerdecor" src="https://fortenox.wev.ovh/assets/cornerpart.png" />
  <img class="socialdecor" src="https://fortenox.wev.ovh/assets/socialpart.png" />
  <img class="gallery" src="https://fortenox.wev.ovh/assets/fortenox-gallery.png" />
  <div class="topsec">
    <img src="https://fortenox.wev.ovh/assets/fortenox-banner.png" width="25%" />
    <br /><br /><br /><br />
    <div class="socials">
      <i class="fa-brands fa-youtube"></i>
      <i class="fa-brands fa-soundcloud"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitch"></i>
      <i class="fa-brands fa-spotify"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <br /><br /><br /><br />
    <div class="topsectxt"><p>Fortenox’s journey began in 2017 when making music was just a hobby. Progressing further throughout the years, his skill strengthened as he began learning more about the music he was creating. During this time, he built up an incredible community of supporters.</p>
    <p>Consider supporting him on his journey of becoming a popular producer, with a fantastic community.</p></div>
  </div>
  <img class="featureimg" src="https://fortenox.wev.ovh/assets/fortenox-about.png"/>
  <div class="navsec">
    <button class="navsecbtn">About</button>
    <button class="navsecbtn">Releases</button>
    <button class="navsecbtn">Concerts</button>
    <img class="logoimg" src="https://fortenox.wev.ovh/assets/fortenox-logo.png" />
    <button class="navsecbtn right">Contact</button>
  </div>
</body>

</html>